.body {
  background-color: #8db692;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.external {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.internal {
  margin: 0 auto;
  width: 100vw;
}

.btn-custom {
  height: 65px;
  width: 255px;
}

#number {
  margin: 0 auto;
  width: 255px;
}

.outputShuf {
  margin: 24px auto 0 auto;
  max-width: 255px;
}

.output {
  display: inline-block;
  font-size: 50px;
  margin: 24px;
  max-width: 255px;
  width: 255px;
  color: white;
  border: 5px dotted rgb(255, 255, 255);
  overflow: hidden;
}

.titleNG {
  color: white;
  font-size: 30px;
  margin: 0 0 70px 0;
}

.titleShuf {
  color: white;
  font-size: 35px;
  margin: 0 0 20px 0;
}

.checkboxBottom {
  margin: 8px 0 0 0;
  font-size: 14px;
  color: #ffffff;
}

.rangeNum {
  padding-top: 10px;
  width: 103px;
  display: inline-table;
  text-align: center;
  color: white;
  font-size: small;
}

.shuffleButtons {
  margin: 20px 0 0 0;
}

.shfl-btn {
  width: 130px;
  margin: 5px 0 0 0;
}

.spinBtn {
  margin: 10px 0 0 0;
}

.or {
  padding: 8px 0 8px 0;
  color: white;
  font-size: small;
}

.content {
  display: inline-flex;
  max-width: 255;
}

.accordionItem {
  background-color:  rgba(52, 155, 98, 0.747);
}

.accordionInside {
  background-color:  #8db692;
}