.body {
    background-color: #8db692;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
  .external {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  .internal {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
  }
  .btn-custom {
    height: 65px;
    width: 230px;
  }
  #number {
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    margin-bottom: 10px;
  }
  .output {
    display: inline-table;
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 24px;
    width: 230px;
    color: rgb(255, 255, 255);
    border: 5px dotted rgb(255, 255, 255);
  }
  .title {
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .checkboxBottom {
      margin-top: 8px;
      font-size: 14px;
      color: #ffffff;
  }
  .rangeNum {
    padding-top: 10px;
    width: 30vw;
    display: inline-table;
    text-align: center;
    color: white;
    font-size: small;
  }
  .shuffleButtons {
    margin: 7% 0 12% 0;
  }
  .shfl-btn {
    width: 130px;
    margin-top: 10px;
  }
  .or {
    padding: 1% 0 2% 0;
    color: white;
    font-size: small;
  }